[submodule "Squirrel/third_party/spdlog"]
	path = Squirrel/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Squirrel/third_party/GLFW"]
	path = Squirrel/third_party/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Squirrel/third_party/imgui"]
	path = Squirrel/third_party/imgui
	url = https://github.com/TheCherno/imgui
